<!-- Formulario Reactivo -->
<form [formGroup]="form" class="ocultar" (submit)="onSubmit()">

   <!-- Campo: Título -->
   <div>

    <mat-form-field class="formElement">
      <mat-label>Título:</mat-label>
      <input matInput type="text" placeholder="Título" formControlName="titulo" />
      <mat-error>
        <ng-container *ngIf="form.get('titulo')?.invalid && (form.get('titulo')?.dirty || form.get('titulo')?.touched)">
          <span *ngIf="form.get('titulo')?.errors?.['required']">Título es requerido</span>
          <span *ngIf="form.get('titulo')?.errors?.['pattern']">Título solo debe contener letras y números</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

   </div>

   <!-- Campo: Autor -->
   <div class="formElement">

      <mat-form-field class="formElement">
        <mat-label>Selecciona un autor</mat-label>
        <mat-select [(ngModel)]="selectedAutor" formControlName="autor">
          <mat-option *ngFor="let autor of dataSourceAutor.data" [value]="autor.nombre">
            {{ autor.nombre }}
          </mat-option>
        </mat-select>
        <mat-error>
          <ng-container *ngIf="form.get('autor')?.invalid && (form.get('autor')?.dirty || form.get('autor')?.touched)">
            <span *ngIf="form.get('autor')?.errors?.['required']">Autor es requerido</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

   </div>

   <!-- Campo: Área -->
   <div class="formElement">
    
    <mat-form-field class="formElement">
      <mat-label>Área</mat-label>
      <mat-select [(value)]="selectedArea" (selectionChange)="onAreaChange($event.value)" formControlName="area">
        <mat-option *ngFor="let area of areas" [value]="area">{{ area }}</mat-option>
      </mat-select>
      <mat-error>
        <ng-container *ngIf="form.get('area')?.invalid && (form.get('area')?.dirty || form.get('area')?.touched)">
          <span *ngIf="form.get('area')?.errors?.['required']">Área es requerida</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

   </div>

   <!-- Campo: Categoría -->
   <div class="formElement">

    <mat-form-field class="formElement">
      <mat-label>Categoría</mat-label>
      <mat-select [(value)]="selectedCategoria" formControlName="categoria" [disabled]="!selectedArea">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria">
          {{ categoria }}
        </mat-option>
      </mat-select>
      <mat-error>
        <ng-container *ngIf="form.get('categoria')?.invalid && (form.get('categoria')?.dirty || form.get('categoria')?.touched)">
          <span *ngIf="form.get('categoria')?.errors?.['required']">Categoría es requerida</span>
        </ng-container>
      </mat-error>
    </mat-form-field>
    
   </div>

   <!-- Campo: Estado -->
   <div class="formElement">
    
    <mat-form-field class="formElement">
      <mat-label>Estado:</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="">Seleccione...</mat-option>
        <mat-option value="Nuevo">Nuevo</mat-option>
        <mat-option value="Usado - Excelente">Usado - Excelente</mat-option>
        <mat-option value="Usado - Bueno">Usado - Bueno</mat-option>
        <mat-option value="Usado - Aceptable">Usado - Aceptable</mat-option>
      </mat-select>
      <mat-error>
        <ng-container *ngIf="form.get('estado')?.invalid && (form.get('estado')?.dirty || form.get('estado')?.touched)">
          <span *ngIf="form.get('estado')?.errors?.['required']">Estado es requerido</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

   </div>

   <!-- Campo: Idioma -->
   <div class="formElement">
    
    <mat-form-field class="formElement">
      <mat-label>Idioma:</mat-label>
      <mat-select formControlName="idioma">
        <mat-option value="">Seleccione...</mat-option>
        <mat-option value="Español">Español</mat-option>
        <mat-option value="Inglés">Inglés</mat-option>
        <mat-option value="Chino">Chino</mat-option>
        <mat-option value="Ruso">Ruso</mat-option>
        <mat-option value="Francés">Francés</mat-option>
        <mat-option value="Árabe">Árabe</mat-option>
      </mat-select>
      <mat-error>
        <ng-container *ngIf="form.get('idioma')?.invalid && (form.get('idioma')?.dirty || form.get('idioma')?.touched)">
          <span *ngIf="form.get('idioma')?.errors?.['required']">Idioma es requerido</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

   </div>

  <!-- Campo: Descripción -->
   <div class="formElement">
    
    <mat-form-field class="formElement">
      <mat-label>Descripción:</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
      <mat-error>
        <ng-container *ngIf="form.get('descripcion')?.invalid && (form.get('descripcion')?.dirty || form.get('descripcion')?.touched)">
          <span *ngIf="form.get('descripcion')?.errors?.['required']">Descripción es requerida</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

   </div>

  <!-- Campo: Ubicación -->
   <div class="formElement">

    <mat-form-field class="formElement">
      <mat-label>Ubicación:</mat-label>
      <textarea matInput formControlName="ubicacion"></textarea>
      <mat-error>
        <ng-container *ngIf="form.get('ubicacion')?.invalid && (form.get('ubicacion')?.dirty || form.get('ubicacion')?.touched)">
          <span *ngIf="form.get('ubicacion')?.errors?.['required']">Ubicación es requerida</span>
        </ng-container>
      </mat-error>
    </mat-form-field>
    
   </div>

  <!-- Campo: URL de la portada -->
   <div class="formElement">
    
    <mat-form-field class="formElement">
      <mat-label>URL de la portada:</mat-label>
      <input matInput type="url" placeholder="URL" formControlName="imagen" />
      <mat-error>
        <ng-container *ngIf="form.get('imagen')?.invalid && (form.get('imagen')?.dirty || form.get('imagen')?.touched)">
          <span *ngIf="form.get('imagen')?.errors?.['pattern']">La imagen debe terminar en |jpg |png |gif</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

   </div>

   <!-- Campo: Disponibilidad -->
   <div class="formElement">

    <mat-checkbox class="formElement" formControlName="disponibilidad">
      ¿Está disponible?
    </mat-checkbox>
    
   </div>

   <div class="formElement">
    
   </div>

    <!-- Botones de acción -->
   <div class="actions">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
    <button mat-raised-button color="primary" type="reset" (click)="clearForm()">Cancelar</button>
  </div>

</form>

<br>

<!--Busqueda-->

<div class="search-container">

    <mat-form-field class="search-container">
        <mat-label> Buscar:</mat-label>
        <input matInput type="search" placeholder="Buscar por area" #searchInput (keyup)="search(searchInput)"/>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>


<table mat-table [dataSource]="dataSource" class="mat-table">

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Titulo </th>
    <td mat-cell *matCellDef="let libro"> {{libro.titulo}} </td>
  </ng-container>

  <ng-container matColumnDef="autor">
    <th mat-header-cell *matHeaderCellDef> Autor </th>
    <td mat-cell *matCellDef="let libro"> {{libro.autor}} </td>
  </ng-container>

  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef> Area </th>
    <td mat-cell *matCellDef="let libro"> {{libro.area}} </td>
  </ng-container>

  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoria </th>
    <td mat-cell *matCellDef="let libro"> {{libro.categoria}} </td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let libro"> {{libro.estado}} </td>
  </ng-container>

  <ng-container matColumnDef="idioma">
    <th mat-header-cell *matHeaderCellDef> Idioma </th>
    <td mat-cell *matCellDef="let libro"> {{libro.idioma}} </td>
  </ng-container>

  <ng-container matColumnDef="ubicacion">
    <th mat-header-cell *matHeaderCellDef> Ubicacion </th>
    <td mat-cell *matCellDef="let libro"> {{libro.ubicacion}} </td>
  </ng-container>

  <ng-container matColumnDef="disponibilidad">
    <th mat-header-cell *matHeaderCellDef> Disponible </th>
    <td mat-cell *matCellDef="let libro"> {{libro.disponibilidad? 'Yes': 'No'}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones</th>
    <td mat-cell *matCellDef="let libro"> 

      <button mat-raised-button data-tipo="editar" (click)="editar(libro)"> 
        <mat-icon>editar</mat-icon>Editar
      </button>    
      
      <button mat-raised-button data-tipo="eliminar" (click)="eliminar(libro)">
        <mat-icon>delete</mat-icon>Eliminar
      </button>
      
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['titulo','autor','area','categoria','estado','idioma','ubicacion','disponibilidad','actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['titulo','autor','area','categoria','estado','idioma','ubicacion','disponibilidad','actions'];"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page" showFirstLastButtons>
</mat-paginator>