/* Encabezado de la página */
.titulo-principal {
    text-align: center;
    font-size: 1.8rem;
    color: #3f51b5; /* Color primario */
    margin: 20px 0;
}

/* Mensaje vacío */
.mensaje-vacio {
    text-align: center;
    font-size: 1.2rem;
    color: #9e9e9e; /* Color neutro */
    font-style: italic;
}

/* Contenedor de tarjetas */
.lista-libros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Tarjetas de libros */
.libros-card {
    width: 350px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.libros-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* Estilo centrado para el título, autor y acciones */
.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Título del libro */
.titulo-libro {
    font-size: 1.4rem;
    color: #1a237e; /* Azul oscuro */
    margin-bottom: 10px;
}

/* Nombre del autor */
.autor-libro p {
    font-size: 1rem;
    color: #616161; /* Gris */
    margin: 0;
}

/* Imagen del libro */
.imagen-libro {
    object-fit: contain; /* Ajustar imagen sin recortarla */
    width: 100%;
    height: 250px; /* Altura fija para mantener proporción */
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Contenido del libro */
.contenido-libro {
    flex-grow: 1; /* Expande el contenido para mantener la tarjeta uniforme */
    font-size: 0.9rem;
    color: #616161;
    margin-top: 10px;
    margin-left:65px;
}

.acciones-libro {
    margin-top: auto; /* Empuja el botón hacia el final de la tarjeta */
    padding-top: 10px;
}

/* Botón de Intercambiar */
.btn-intercambiar {
    background-color: #4caf50; /* Verde */
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
}

.btn-intercambiar:hover {
    background-color: #388e3c; /* Verde más oscuro */
}