<h2>{{ title }}</h2>
<div class="lista-resenias">
  <mat-card *ngFor="let resenia of resenias" class="resenia-card">
    <mat-card-header>
      <mat-card-title>{{ resenia.titulo }}</mat-card-title>
      <mat-card-subtitle>{{ resenia.autor }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="resenia.imagen" [alt]="resenia.titulo" />
    <mat-card-content>
      
      <p><strong>Opinión:</strong> {{ resenia.opinion }}/10</p>
      <p><strong>Comentario:</strong> {{ resenia.comentario }}</p>
      <p>{{ resenia.comentario }}</p>
    </mat-card-content>
    
  </mat-card>
</div>
