<router-outlet>
  <div class="encabezado">
    <div class="back">
      <div class="menu container">
        <a routerLink="/lista-libros" class="logo">BookChange</a>
        <input type="checkbox" id="menu" />
        <label for="menu">
          <img src="images/menu.png" class="menu-icono" alt="menu" />
        </label>
        <nav class="navbar">
          <ul>
            <!-- Sección de Libros -->
            <li class="dropdown">
              <span class="nav-header">Libros</span>
              <ul class="dropdown-content">
                <li><a routerLink="/lista-libros" routerLinkActive="active">Lista de libros</a></li>
                <li><a routerLink="/crud-libros" routerLinkActive="active">Crud de libros</a></li>
              </ul>
            </li>
            <!-- Sección de Autores -->
            <li class="dropdown">
              <span class="nav-header">Autores</span>
              <ul class="dropdown-content">
                <li><a routerLink="/lista-autores" routerLinkActive="active">Lista de autores</a></li>
                <li><a routerLink="/crud-autores" routerLinkActive="active">Crud de autores</a></li>
              </ul>
            </li>
            <!-- Sección de Intercambios -->
            <li class="dropdown">
              <span class="nav-header">Intercambios</span>
              <ul class="dropdown-content">
                <li><a routerLink="/crud-intercambios" routerLinkActive="active">Crud de intercambios</a></li>
              </ul>
            </li>
            <!-- Sección de Reseñas -->
            <li class="dropdown">
              <span class="nav-header">Reseñas</span>
              <ul class="dropdown-content">
                <li><a routerLink="/lista-resenia" routerLinkActive="active">Lista de reseñas</a></li>
                <li><a routerLink="/crud-resenia" routerLinkActive="active">Crud de reseñas</a></li>

              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</router-outlet>

<footer class="footer">
  <div class="container">
    <p>&copy; 2024 Intercambio de Libros. Proyecto 1 Parcial.</p>
    <p>
      <a href="#">SOFT-MA-7-2</a> |
      <a href="#">Desarrollo de aplicaciones web avanzado</a>
    </p>
  </div>
</footer>
